In [19]:
#    ** Import pandas as pd.**
import pandas as pd

#    ** Read Salaries.csv as a dataframe called sal.**
sal = pd.read_csv('Salaries.csv')

#    ** Check the head of the DataFrame. **
sal.head()
print ('Head of Data Frame:')
print (sal.head())

#    ** Use the .info() method to find out how many entries there are.**
sal.info()
print ('\nNumber of entries:')
print (sal.info())

#    **What is the average BasePay ?**
sal['BasePay'].mean()
print ('\nAverage base pay:')
print (sal['BasePay'].mean())

#    ** What is the highest amount of OvertimePay in the dataset ? **
sal['OvertimePay'].max()
print ('\nMax overtime:')
print (sal['OvertimePay'].max())

#    ** What is the job title of  JOSEPH DRISCOLL ?  
sal[sal['EmployeeName']=='JOSEPH DRISCOLL']['JobTitle']
print ('\nJob title of JD:')
print (sal[sal['EmployeeName']=='JOSEPH DRISCOLL']['JobTitle'])

#    ** How much does JOSEPH DRISCOLL make (including benefits)? **
sal[sal['EmployeeName']=='JOSEPH DRISCOLL']['TotalPayBenefits']
print ('\nJD makes:')
print (sal[sal['EmployeeName']=='JOSEPH DRISCOLL']['TotalPayBenefits'])

#    ** What is the name of highest paid person (including benefits)?**
sal.loc[sal['TotalPayBenefits'].idxmax()]
print ('\nHighest paid:')
print (sal.loc[sal['TotalPayBenefits'].idxmax()])

#    ** What is the name of lowest paid person (including benefits)? Do you notice something strange about how much he or she is paid?**
sal.loc[sal['TotalPayBenefits'].idxmin()]['EmployeeName']
print ('\nLowest paid:')
print (sal.loc[sal['TotalPayBenefits'].idxmin()]['EmployeeName'])

#    ** What was the average (mean) BasePay of all employees per year? (2011-2014) ? **
sal.groupby('Year').mean()['BasePay']
print ('\nAverage base pay:')
print (sal.groupby('Year').mean()['BasePay'])

#    ** How many unique job titles are there? **
sal['JobTitle'].nunique()
print ('\nNumber of unique job titles:')
print (sal['JobTitle'].nunique())

#    ** What are the top 5 most common jobs? **
sal['JobTitle'].value_counts().head(5)
print ('\n5 most common jobs:')
print (sal['JobTitle'].value_counts().head(5))

#    ** How many Job Titles were represented by only one person in 2013? (e.g. Job Titles with only one occurence in 2013?) **
sum(sal[sal['Year']==2013]['JobTitle'].value_counts() == 1)
print ('\nJob titles with only one occurence in 2013:')
print (sum(sal[sal['Year']==2013]['JobTitle'].value_counts() == 1))

#    ** How many people have the word Chief in their job title? (This is pretty tricky) **
def chief_check(title):
    if 'chief' in title.lower():
        return True
    else:
        return False
print ('\nJobs with Chief in title:')    
sum(sal['JobTitle'].apply(lambda x: chief_check(x)))

Head of Data Frame:
   Id       EmployeeName                                        JobTitle  \
0   1     NATHANIEL FORD  GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY
1   2       GARY JIMENEZ                 CAPTAIN III (POLICE DEPARTMENT)
2   3     ALBERT PARDINI                 CAPTAIN III (POLICE DEPARTMENT)
3   4  CHRISTOPHER CHONG            WIRE ROPE CABLE MAINTENANCE MECHANIC
4   5    PATRICK GARDNER    DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)

     BasePay  OvertimePay   OtherPay  Benefits   TotalPay  TotalPayBenefits  \
0  167411.18         0.00  400184.25       NaN  567595.43         567595.43
1  155966.02    245131.88  137811.38       NaN  538909.28         538909.28
2  212739.13    106088.18   16452.60       NaN  335279.91         335279.91
3   77916.00     56120.71  198306.90       NaN  332343.61         332343.61
4  134401.60      9737.00  182234.59       NaN  326373.19         326373.19

   Year  Notes         Agency  Status
0  2011    NaN  San Francisco     NaN
1  2011    NaN  San Francisco     NaN
2  2011    NaN  San Francisco     NaN
3  2011    NaN  San Francisco     NaN
4  2011    NaN  San Francisco     NaN
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148045 non-null  float64
 4   OvertimePay       148650 non-null  float64
 5   OtherPay          148650 non-null  float64
 6   Benefits          112491 non-null  float64
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            0 non-null       float64
dtypes: float64(8), int64(2), object(3)
memory usage: 14.7+ MB

Number of entries:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148045 non-null  float64
 4   OvertimePay       148650 non-null  float64
 5   OtherPay          148650 non-null  float64
 6   Benefits          112491 non-null  float64
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            0 non-null       float64
dtypes: float64(8), int64(2), object(3)
memory usage: 14.7+ MB
None

Average base pay:
66325.44884050643

Max overtime:
245131.88

Job title of JD:
24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

JD makes:
24    270324.91
Name: TotalPayBenefits, dtype: float64

Highest paid:
Id                                                               1
EmployeeName                                        NATHANIEL FORD
JobTitle            GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY
BasePay                                                  167411.18
OvertimePay                                                    0.0
OtherPay                                                 400184.25
Benefits                                                       NaN
TotalPay                                                 567595.43
TotalPayBenefits                                         567595.43
Year                                                          2011
Notes                                                          NaN
Agency                                               San Francisco
Status                                                         NaN
Name: 0, dtype: object

Lowest paid:
Joe Lopez

Average base pay:
Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

Number of unique job titles:
2159

5 most common jobs:
Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: JobTitle, dtype: int64

Job titles with only one occurence in 2013:
202

Jobs with Chief in title:

627